<style>

body {
  background-color: #f6f6f6;
}

hr {
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}

img {
  display:block;
  border-radius: 100%;
}

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}

</style>
